**/.ipynb_checkpoints/
**/*.aux
**/*.log
**/*.nav
**/*.out
**/*.snm
**/*.toc
**/*.gz
**/*.vrb
**/*.sh
.Rproj.user
*.Rproj
.Rhistory
**/*.html
**/*.swp
**/presentation_gitGithub.pdf

**/.quarto
**/slides-training*html
**/slides-training*pdf
**/slides-training_files
presentation_gitTraining/presentation_gitGithub-practice.pdf
