**/.ipynb_checkpoints/
**/*.aux
**/*.log
**/*.nav
**/*.out
**/*.snm
**/*.toc
**/*.gz
**/*.vrb
**/*.sh
**/*.bcf
**/*xml
**/*.xcf

.Rproj.user
*.Rproj
.Rhistory
**/*.html
**/*.swp
**/presentation_gitGithub.pdf

**/.quarto
**/slides-training*html
**/slides-training*pdf
**/slides-remainder*pdf
**/slides-training_files
presentation_gitTraining/presentation_gitGithub-practice.pdf
traning-git/*md
traning-git/*csv
slides-git-quarto/training-git/data.csv
slides-git-quarto/img/readme-edit.xcf
slides-git-quarto/slides-training.tar
slides-tex-presentation/slides-training.fdb_latexmk
slides-tex-presentation/slides-training.fls
slides-tex-presentation/slides-remainder.fdb_latexmk
slides-tex-presentation/slides-remainder.fls
slides-tex-presentation/slides-remainder.bbl
**/slides-remainder_files
**/slides-remainder.html
**/slides-remainder.pdf


/.quarto/
git-training.pdf
git-training_files/
git-training.tex
